/******************************************
	Responsive Rules
******************************************/
$res_below_small: "only screen and (max-width : 350px)";
$res_below_mobile: "only screen and (max-width : 500px)";
$res_above_mobile: "only screen and (min-width : 500px)";
$res_below_mini: "only screen and (max-width : 769px)";
$res_above_mini: "only screen and (min-width : 769px)";
$res_below_pro: "only screen and (max-width : 1024px)";

$res_only_pro: "only screen and (min-width: 900px) and (max-width : 1100px)";
$res_only_mini: "only screen and (min-width: 750px) and (max-width : 800px)";



/*******************************************
	Variables
/*******************************************/
$blue: #3d79ff;
$blue-dark: #2c3464;